@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noto {
    font-family: "Noto Serif KR", serif;
}
